/* CREATE VARIABLES FOR COLORS */

/* HERO SIDE */
.hello-screen-wrapper {
  display: flex;
  background-color: lemonchiffon;
  height: 100vh;
  width: 100vw;
  padding: 0;
}
.hero-wrapper,
.guest-wrapper {
  height: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-wrapper {
  border-right: 3px dotted sandybrown;
  background-image: linear-gradient(#fff, #076585);
}

.hero-photo {
  height: 30%;
  width: 40%;
  background-color: sandybrown;
  /* background: url('https://wallpaperplay.com/walls/full/9/8/7/269161.jpg'); */
  background-position: 70%;
  background-size: cover;
  border: 4px solid #fff;
  border-radius: 50%;
}

/* GUEST SIDE */

.guest-wrapper {
  border: 3px dotted red;
}