.main-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  border: 3px dotted #333;
}
.main-panel {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
.hero-photo {
  height: 200px;
  width: 200px;
  /* background-image: url("../../assets/Hero\ photo.jpg"); */
  border-radius: 50%;
  background-color: sandybrown;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}