.main-page-wrapper {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;
  color: red;
  border: 3px dotted #333;
}

.top-panel {
  border: 3px dotted green;
}

.center-panel {
  display: flex;
  align-self: center;
  width: 65%;
  max-width: 65%;
  min-height: 80vh;
  margin-left: 5%;
  height: 100%;
  border: 3px dotted tomato;
}
