.project-wrapper {
  /* margin-top: -5%; */
  padding: 3%;
  display: flex;
  flex-direction: column;
  border: 3px solid #333;
  box-shadow: 0 0 5px #333;
  background-color: rgba(216, 191, 216, 0.762);
  width: 65vw;
  min-width: 65vw;
}

.project-snapshot-wrapper {
  display: flex;
}

.project-snapshot-wrapper ul{
  margin: 0;
}

.project-image {
  width: 31vw;
  height: 28vh;
  background-color: violet;
}

.text-hide {
  display: none;
}

.text-show {
  display: block;
}

.arrow-pointer {
  align-self: flex-end;
  color: tomato;
}

.project-image-active {
  width: 31vw;
  height: 56vh;
  background-color: violet;
}