## Mac OS
.DS_store

##npm packages
node_modules/

##webpack default output folder
public/
serverCompiled.js

##passwords
helpers/config.js
helpers/mysqlConfig.js

##passwords
helpers/configs.js
helpers/mysqlConfigs.js
.env